.container{
    margin:auto;
    background-color: rgb(235, 220, 245);
    height:90vh;
    width:90vw;
    padding:4vmax 8vmax;
    box-sizing: border-box;
    > h1{
       font-size:3rem;
       text-align: center;
       margin:10px;
      
    }

    > form{
        display:flex;
        flex-direction:column;

      > input,textarea,button{
        font-size: 1.5rem;
        padding:1.2rem;
        margin:8px;
        border-radius: 10px;
        box-sizing: border-box;
        
      }  
      >button{
        font-size: 1rem;
        box-sizing: border-box;
        border:none;
        cursor: pointer;
        background-color: rgb(241, 168, 108);
        color:white;

        &:hover{
          background-color: rgb(54, 165, 10);
        }
      }
      .cancle{
        background-color: rgba(255, 0, 0, 0.788) ;
        &:hover{
          background-color:rgba(255, 0, 0, 0.788) ;
        }
      }
}
} 




  
   
  @media screen and (max-width: 992px) {
    .container{
      height: 88.4vh;
      padding:4px;
    
    }
  }
  @media  screen and (max-width: 600px) {
    .container{
      padding:2px;
      height:84.5vh;
    
  
      >h1{
        
        font-size: 1rem;
      }
  // > input,textarea,button{
  //   width:98%;
  }
  
  
  
  
    }